<form class=""  #f="ngForm"  (ngSubmit)="submit(f)" novalidate>
	<div class="form-group">
		<mat-form-field>
			<mat-label>Nom du role</mat-label>
			<input matInput type="text" name="role_nom"  placeholder="Nom du role" autocomplete="off"
				   [(ngModel)]="model.role_nom" required>
		</mat-form-field>
	</div>
	<section class="example-section">
		<mat-slide-toggle name="role_etat"  [(ngModel)]="model.role_etat">Etat</mat-slide-toggle>
	</section>


	<ng-container *ngFor="let module of allModules">
		
		<mat-checkbox name="module.module_nom"  [checked]="modules[module.module_id]" (change)="Changing($event,module.module_id)">{{module.module_nom}}</mat-checkbox>
		
		<!--<ng-container *ngIf="model.role_etat">
				<ng-container  *ngFor="let action of module.actions">
					<mat-checkbox  name="action.action_nom" >{{action.action_id}}</mat-checkbox>
				</ng-container>
		</ng-container>-->
	</ng-container>
	

	<button mat-raised-button color="primary">Modifier</button>

</form>

<ng-snotify></ng-snotify>


	
