<form class="" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
	<div class="form-group">
		<mat-form-field>
			<mat-label>Nom du role</mat-label>
			<input matInput type="text" name="role_nom" placeholder="Nom du role" autocomplete="off"
				   [(ngModel)]="model.nom" #email="ngModel" email="true" required>
		</mat-form-field>
	</div>
	<section class="example-section">
		<mat-slide-toggle [checked]="model.etat">Etat</mat-slide-toggle>
	</section>

	<button mat-raised-button color="primary" (click)="submit()">Modifier</button>

</form>



	
