<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="table" matSort>
  <ng-container matColumnDef="nom">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Nom du role </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.role_nom}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Date de création </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.role_date}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="etat">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Etat </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.role_etat}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Lastname</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let user of tables">
      <td>{{user.role_nom}}</td>
      <td>{{user.createdAt}}</td>
      <td>{{user.role_etat}}</td>
    </tr>
  </tbody>
</table>
